/********** Шапка **********/

.header {
    height: 200px;
}

.header-container {
    height: 100%;
    align-items: center;
    gap: 30px;
}

.header-menu-list {
    list-style: none;
    gap: 30px;
}

.header-menu-list a {
    text-decoration: none;
    font-size: var(--font-size-18);
    color: var(--color-black);
}

.header-button {
    height: 65px;
    width: 170px;
    align-items: center;
    justify-content: center;
    background-color: var(--color-black);
}

.header-button a {
    text-decoration: none;
    color: var(--color-white);
}

/********** Шапка - конец **********/